{% if post.comments.all %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Комментарии</h6>
  {% for comment in post.comments.all %}
    <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">
            <a href="{% url 'posts:profile' comment.author.username %}">
              {{ comment.author.username }}
            </a>
          </strong>
          {{ comment.text }}
        </p>
    </div>
  {% endfor %}
</div>
{% endif %}